DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=minha_loja2
DB_USER=root
DB_PASS=
BASE_URL=http://localhost/Minha_loja-Api

MAIL_FROM_ADDRESS=no-reply@minhaloja.local
MAIL_FROM_NAME=Minha Loja
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=seu-email@example.com
SMTP_PASS=sua-senha-ou-token
SMTP_ENCRYPTION=tls
